# NOTE:
#
# 1. You wouldn't need to change any of these settings
#    if you're deloying sarjitsu for the first time
#    and if you'd want it to launch all containerized services
#
# 2. keep the *_HOST IP/hostnames empty if
#    their instances don't exist yet. If they're set,
#    sarjitsu assumes them to be active and would
#    include those *_HOST values in other componenets
#
###########################################################

# Container configuration

# Specify port mapping to the host, for each component.
# Exposed as services, at <hosting server's address>:<port>
METRICSTORE_PORT_MAPPING=9700
DATASOURCE_PORT_MAPPING=9701
FRONTEND_PORT_MAPPING=9702
MIDDLEWARE_PORT_MAPPING=9703
BACKEND_PORT_MAPPING=9704
PROXY_PORT_MAPPING=9705

# Specify names for containers to be launched.
METRICSTORE_CONTAINER_ID=postrgres_jitsu
DATASOURCE_CONTAINER_ID=elastic_jitsu
FRONTEND_CONTAINER_ID=grafana_jitsu
MIDDLEWARE_CONTAINER_ID=api_jitsu
BACKEND_CONTAINER_ID=server_jitsu
CACHING_CONTAINER_ID=redis_jitsu
PROXY_CONTAINER_ID=nginx_jistu

###########################################################
# 'metricstore' config (postgres) - for grafana's metadata

# uncomment this if you have a custom PostgreSQL deployment
# Leave commented, if you'd want sarjitsu to use
# linked container mechanism to find IP
# DB_HOST=<hostname/IP>

DB_NAME=grafana
DB_USER=grafana
DB_PASSWORD=sarjitsu123
DB_PORT=5432

# FIXME/TODO: data dir option below is currently not integrated into sarjitsu;
#
# one would have to build a postgres container, to make new mountpoint
# available. Refer to https://hub.docker.com/_/postgres/ for more.
# set to default
# DB_DATA_DIR=/var/lib/postgresql/data
# change this in production, if you have a fs mountpoint (for persistent disks)
# if so, you'll have to build the postgres container (and not just pull it
# from the official dockerhub)

###########################################################
# 'datasource' config (elasticsearch) - source of timeseries data

# sarjitsu currently needs passwordless access to elasticsearch;
# this protocol goes into grafana's datasource settings.
ES_PROTOCOL=http

# uncomment this if you have a custom ElasticSearch deployment
# Leave commented, if you'd want sarjitsu to use
# linked container mechanism to find IP
# ES_HOST=<hostname/IP without $ES_PROTOCOL>

ES_PORT=9200

# set this if you want a particular cluster name while building
# the ElasticSearch container. If not set, random string will be assigned
# ES_CLUSTER_NAME=elasticsearch$RANDOM

# below settings are for data sent to ES by backend and middleware;
# recommended to keep these values to default.
INDEX_PREFIX=sarjitsu
BULK_ACTION_COUNT=2000
INDEX_VERSION=1

# uncomment and set this in case you wish to change
# elasticsearch's indexing settings
# REPLICAS_COUNT=
# SHARD_COUNT=

###########################################################
# 'frontend' config (grafana) - visualization framework

GRAFANA_DB_TYPE=postgres

# uncomment this if you have a custom Grafana deployment
# Leave commented, if you'd want sarjitsu to use
# linked container mechanism to find IP
# GRAFANA_HOST=<hostname/IP without http>

# keep this empty, unless you have a pre-deployed instance.
# empty means sarjitsu uses linked docker mechanism to find IP

# make sure this is above 1024; 3000 is standard
GRAFANA_PORT=3000

# Sarjitsu supports only ES < 2.0 ..which supports _timestamp
# in mapping. If you don't have a production instance of ES<2.0
# it is highly recommended to leave ES_HOST option empty to let
# sarjitsu spawn it's own compatible instance of ElasticSearch
GRAFANA_TIMEFIELD=_timestamp

# you could change these
GRAFANA_DS_NAME=elastic

# don't change this. It is here for reference of app itself
# sarjitsu.sar should be same as $INDEX_PREFIX.sar
# (which was defined under ES settings section above)
GRAFANA_DS_PATTERN=[sarjitsu.sar-]YYYYMMDD

###########################################################
# 'middleware' config (frontend API) - builds dashboards

MIDDLEWARE_HOST=middleware
MIDDLEWARE_PORT=5000

# don't change this. It is here for reference of app itself
MIDDLEWARE_ENDPOINT=/db/create/
MIDDLEWARE_UPLOAD_ENDPOINT=upload/

###########################################################
# 'backend' config (app server) - main application

BACKEND_HOST=web
BACKEND_SERVER_PORT=5000

PROXY_PORT=8000
###########################################################
