[Unit]
Description=API server behind sarjitsu, creates dashboard in grafana

[Service]
User=root
WorkingDirectory=/opt/api_server
ExecStart=/opt/api_server/run.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
