certifi==2017.11.5
chardet==3.0.4
click==6.7
elasticsearch==6.0.0
Flask==0.12.2
Flask-Cache==0.13.1
Flask-Session==0.3.1
Flask-WTF==0.14.2
idna==2.6
iniparse==0.4
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pygpgme==0.3
redis==2.10.6
requests==2.18.4
six==1.11.0
urllib3==1.22
uWSGI==2.0.15
Werkzeug==0.15.3
WTForms==2.1
