#!/bin/bash

# NOTE:
# please keep the *_HOST IP/hostnames empty if
# their instances don't exist yet. If they're set,
# sarjitsu assumes them to be active and would
# include those *_HOST values in other componenets
# TODO: use service discovery instead

###########################################################
# metricstore config (postgres) - for grafana's metadata
DB_HOST=
DB_NAME=grafana
DB_USER=grafana
DB_PASSWORD=sarjitsu123
DB_PORT=5432

# TODO: data dir option below is currently not integrated into sarjitsu;
# one would have to build a postgres container, to make new mountpoint
# available. Refer to https://hub.docker.com/_/postgres/ for more.
# set to default
DB_DATA_DIR='/var/lib/postgresql/data'
# change this in production, if you have a fs mountpoint (for persistent disks)
# if so, you'll have to build the postgres container (and not just pull it
# from the official dockerhub)

###########################################################
# datasource config (elasticsearch) - source of timeseries data
ES_HOST=
ES_PORT=9200

# sarjitsu currently needs passwordless access to elasticsearch;
# this protocol goes into grafana's datasource settings.
ES_PROTOCOL=http

# set this if you want a particular cluster name while building
# the ElasticSearch container. If not set, a random string will be assigned
ES_CLUSTER_NAME=elasticsearch$RANDOM

# below settings are for data sent to ES by backend and middleware;
# recommended to keep these values to default.
INDEX_PREFIX=sarjitsu
BULK_ACTION_COUNT=2000
INDEX_VERSION=1

###########################################################
# frontend config (grafana) - visualization framework
GRAFANA_HOST=
GRAFANA_DB_TYPE=postgres

# make sure this is above 1024; 3000 is standard
GRAFANA_PORT=3000

# Sarjitsu supports only ES < 2.0 ..which supports _timestamp
# in mapping. If you don't have a production instance of ES<2.0
# it is highly recommended to leave ES_HOST option empty to let
# sarjitsu spawn it's own compatible instance of ElasticSearch
GRAFANA_TIMEFIELD=_timestamp

# you could change these
GRAFANA_DS_NAME=elastic

# don't change this. It is here for reference of app itself
GRAFANA_DS_PATTERN=[$INDEX_PREFIX.sar-]YYYYMMDD

###########################################################
# middleware config (frontend API server) - service that builds dashboards
MIDDLEWARE_HOST=
MIDDLEWARE_PORT=80

# don't change this. It is here for reference of app itself
MIDDLEWARE_ENDPOINT=/db/create/
MIDDLEWARE_UPLOAD_ENDPOINT=upload

###########################################################
# backend config (nodejs app server) - main application
BACKEND_HOST=
BACKEND_SERVER_PORT=80

###########################################################
# sarjitsu config (containers)
# NOTE:
# leave this part as it is, if separate instances exist
# for some/all of above components of sarjitsu

# specify names for containers to be launched.
METRICSTORE_CONTAINER_ID=postrgres_jitsu
DATASOURCE_CONTAINER_ID=elastic_jitsu
FRONTEND_CONTAINER_ID=grafana_jitsu
MIDDLEWARE_CONTAINER_ID=api_jitsu
BACKEND_CONTAINER_ID=server_jitsu

# specify port mapping to the host, for each component
METRICSTORE_PORT_MAPPING=9600
DATASOURCE_PORT_MAPPING=9601
FRONTEND_PORT_MAPPING=9602
MIDDLEWARE_PORT_MAPPING=9603
BACKEND_PORT_MAPPING=9604

###########################################################
