[ElasticSearch]
host =
port = 9200

[Server]
host = datasource
port = 9200

[Settings]
index_prefix = sarjitsu
index_version = 1
bulk_action_count = 2000
number_of_shards = 5
number_of_replicas = 1

[Grafana]
dashboard_url =
api_url = http://middleware:80/db/create/
