[ElasticSearch]
host = 172.17.0.3
port = 9200

[Settings]
index_prefix = sarjitsu
index_version = 1
bulk_action_count = 2000

[Grafana]
dashboard_url = http://172.17.0.4:3000/
api_url = http://172.17.0.4:5000/db/create/
