[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=root
Group=nginx
WorkingDirectory=/opt/sarjitsu/src
ExecStart=/usr/bin/uwsgi --ini /opt/sarjitsu/conf/sarjitsu.ini
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
