server {
  listen 80;
  server_name default_server;
  client_max_body_size 800M;
  
  root /opt/sarjitsu/src/app/templates/;
  error_page   500 502 503 504 =200 /static/defeat.jpg;
  error_page   404 =200 /static/404.gif;
  
  location / {
    try_files $uri @app;

    default_type  text/plain;
    add_header    Content-Disposition  'inline';

  }

  location @app {
    uwsgi_pass unix:///opt/sarjitsu/src/flaskapp.sock;
    include uwsgi_params;
  }
}

