[Unit]
Description=Create Grafana data source for sarjitsu

[Service]
User=root
ExecStart=/bin/bash -c /scripts/es-metadata-handler
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
