[ElasticSearch]
host = 172.17.0.3
port = 9200
protocol = http

[Settings]
index_prefix = sarjitsu
index_version = 1
bulk_action_count = 2000
number_of_shards = 1
number_of_replicas = 1
sar_template_version=02

[Grafana]
ds_name = vos-test
pattern = [sarjitsu.sar-]YYYYMMDD
timeField = _timestamp
templates_path = /opt/api_server/lib/mappings/

[Api]
api_port = 80

[Postgres]
db_host = localhost
db_password = grafana
db_name = grafana
db_user = grafana
db_port = 5432
